@import "tailwindcss";

    --background: #10131a;
    --foreground: #f6f7f8;
    --accent: #008fec;
    --muted: #212f3f;
    --border: #2264e3;

@theme {
  --color-theme-accent: #008fec;
  --color-theme-background: #10131a;
  --color-theme-foreground: #2264e3;
  --color-theme-muted:#212f3f; 
  --color-theme-border: #2264e3;
  --font-anta: var(--font-anta);
}
