@import "tailwindcss";


@theme {
  --color-theme-accent: #008fec;
  --color-theme-background: #00071b;
  --color-theme-foreground: #2264e3;
  --color-theme-muted:#212f3f; 
  --color-theme-border: #2264e3;
  --font-anta: var(--font-anta);
  --font-aldrich: var(--font-aldrich);
}
